{# OctoPrint-PrintButler - printbutler_navbar.jinja2 #}
<a id="navbar_plugin_printbutler"
   class="pull-right"
   href="javascript:void(0)"
   data-bind="click: toggleArmed,
              visible: autoShutdownFeatureEnabled,
              attr: {title: armedTooltip(), 'aria-label': armedTooltip()},
              css: {'printbutler-navbar-armed': armed(), 'printbutler-navbar-disarmed': !armed()}">
    <i class="fas fa-snowflake"></i>
</a>
